:root{
  --battle-menu-bg-color: #ffebcd;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252c32;
}
*{
  font-family: pokemonFont;
}



.menu-container{
    top: 40vh;
    left: 45vw;
    position: absolute;
    height: auto;
    width: auto;

}

@font-face {
  font-family: "pokemonFont";
  src: url(pokemon-b-w.ttf);
}

.menu-button{
    width: 10vw;
    height: fit-content;
    border: 1px solid orange;
    padding: 2vh;
    text-align: center;
    background-color: thistle;
    font-size: 24pt
}
.partycontainer{
    position: absolute;
    top: 20%;
    left:30%;
    display: flex;
    width: 60vw;
    height: 70vh;
    border: solid 1px white;
    

}
.partyelement{
    width:33.333333333333%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: blue;
    border-right: solid 3px black;

}
.pokemoncard{
    display:flex;

    height:15%;
    width:100%
}
.pokemonimg{
    width: 50%;
}
.pokemonname{
    width: 50%;
    font-size: 23px;
    margin-top: 15%;
    
}
.sectionTitle{
    text-align: center;
}
.pokemonBox{
    height: 100%;
}
.availablePokemons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.pokemonInBox{
    width: 20%;
    height: 10%;
    margin-top: 0;
    margin-bottom: 0;
    
}
.pokemonInBoxImg{
    width: 100%;
    height: 100%;
}
#Stats{
    display: flex;
    align-items: center;
}

.statsBox{
    display: flex;
    align-content: center;
    flex-direction: column;
    width:70%;
    background-color: red;
    height: 80%;
}

.pokemonInStatsImg{
    align-self: center;
    width: 30%;
    height: 30%;
}
.statsPokemonName{
    align-self: center;
}
.statsTypeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 5%;
}
.typeBox{
    width: 50%;
    height: 100%;
    margin: 0 8% 0 8%  ;
}
.Type{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.Ghost{
    background-color: blueviolet;
    
}
.Poison{
    background-color: purple;
}

.abilities{
    margin-left: 5%;
    margin-top: 15%;
    height: fit-content;
    width: 90%;
    background-color: blue;
}
.ability{
    margin-top: 5%;
    margin-left: 5%;
    height: 5vh;
    width: 90%;
    background-color: green ;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.abilityName{
    margin-left: 10%;
    text-align: left;
    font-size: 15px;
    width: 70%;
}
.abilityType{
    padding: 3% 3% 3% 3%;
    margin-right:10% ;
    text-align: left;
    font-size: 15px;
    width: 30%;
}
.partycontainer{
    position: absolute;
    top: 20%;
    left:30%;
    display: flex;
    background: red;
    width: 60vw;
    height: 70vh;
    border: solid 1px white;
    

}
.partyelement{
    width:33.333333333333%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: blue;
    border-right: solid 3px black;

}
.pokemoncard{
    display:flex;

    height:15%;
    width:100%
}
.pokemonimg{
    width: 50%;
}
.pokemonname{
    width: 50%;
    font-size: 23px;
    margin-top: 15%;
    
}
.sectionTitle{
    text-align: center;
}
.pokemonBox{
    height: 100%;
}
.availablePokemons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.pokemonInBox{
    width: 20%;
    height: 10%;
    margin-top: 0;
    margin-bottom: 0;
    
}
.pokemonInBoxImg{
    width: 100%;
    height: 100%;
}
#Stats{
    display: flex;
    align-items: center;
}

.errormessage{
  color: red;
  position: absolute;
  top: 10%;
  left: 44%;
  font-size: 24pt;
}

.statsBox{
    display: flex;
    align-content: center;
    flex-direction: column;
    width:70%;
    background-color: red;
    height: 80%;
}

.pokemonInStatsImg{
    align-self: center;
    width: 30%;
    height: 30%;
}
.statsPokemonName{
    align-self: center;
}
.statsTypeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 5%;
}
.typeBox{
    width: 50%;
    height: 100%;
    margin: 0 8% 0 8%  ;
}
.Type{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.Ghost{
    background-color: blueviolet;
    
}
.Poison{
    background-color: purple;
}

.abilities{
    margin-left: 5%;
    margin-top: 15%;
    height: fit-content;
    width: 90%;
    background-color: blue;
}
.ability{
    margin-top: 5%;
    margin-left: 5%;
    height: 5vh;
    width: 90%;
    background-color: green ;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.abilityName{
    margin-left: 10%;
    text-align: left;
    font-size: 15px;
    width: 70%;
}
.abilityType{
    padding: 3% 3% 3% 3%;
    margin-right:10% ;
    text-align: left;
    font-size: 15px;
    width: 30%;
}

.combat-log-container{
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
    height: 11vh;
    border: solid 1px black;
    width: 80vw;
    position: absolute;
    left: 10%;
    top: 80%;
    padding-top: 5vh;
    display: block;
    overflow-wrap: break-word;
    font-size: 28pt;
    background-color: var(--battle-menu-bg-color);
    z-index: -1;
}


.battle-menu-button{
    position: absolute;
    width: 15vw;
    height: 8vh;
    border-radius: 5%;
    font-size: 16pt;
}

.battle-menu-button:nth-child(1){
    top: 80%;
    left: 60%;
}
.battle-menu-button:nth-child(2){
    top: 80%;
    left: 75%;
}
.battle-menu-button:nth-child(3){
    top: 88%;
    left: 60%;
}
.battle-menu-button:nth-child(4){
    top: 88%;
    left: 75%;
}
.battle-main-container{
    width: fit-content;
    height: fit-content;
}
.battle-pokemon-container:nth-child(1){
    position: absolute;
    left: 20%;
    top: 55%;
    z-index: -2;
}
.battle-pokemon-container:nth-child(2){
    position: absolute;
    top: 35%;
    left: 60%;
    z-index: -2;
}
.battle-pokemon-img{
    width: 200px;
    height: 200px;
    z-index: -2;
}
.battle-menu-back{
    position: absolute;
    width: 7vw;
    height: 4vh;
    border-radius: 5%;
    top: 86%;
    left: 53%;
}

.bgimg{
  position: absolute;
  left: 10%;
  bottom: 20%;
  z-index: -10;
  width: 80vw;
  height: 80vh;
}

.battle-status-container{
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  position: absolute;
  width: 15vw;
  height: 8vh;
  flex-direction: column;
  justify-content: space-between;
  line-height: 80%;
  background-color: whitesmoke;
  font-size: 24pt;
}
.battle-status-container:nth-child(1){
  position: absolute;
  left: 50%;
  top: 80%;
}
.battle-status-container:nth-child(2){
  position: absolute;
  left: 50%;
  top: 80%;
}

.battle-status-name{
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 5px;
  left: 5%;
}
.battle-status-lvl{
  position: relative;
  height: fit-content;
  width: fit-content;
  display: none;
  left: 50%
}
.battle-status-hp{
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 1vh;  
  left: 5%;
}
.battle-status-ailment{
  position: relative;
  height: fit-content;
  width: fit-content;
  bottom: 1vh;
  left: 75%;
}

.pokemon-select-menu{
  position: absolute;
  left: 65%;
  border: 1px solid black;
  top: 30%;
  height: 45vh;
  width: 20vw;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: var(--battle-menu-bg-color);
  padding-left: 5vw;
  padding-top: 5vh;
  border-radius: 15px;
}
.pokemon-select-menu>img{
  flex-basis: 34%;
}

.flicker-2{-webkit-animation:flicker-2 1s linear reverse both;animation:flicker-2 1s linear reverse both;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
 @-webkit-keyframes flicker-2{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}45.99%{opacity:1}46%{opacity:0}46.9%{opacity:0}46.91%{opacity:1}51.99%{opacity:1}52%{opacity:0}52.8%{opacity:0}52.81%{opacity:1}}@keyframes flicker-2{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}45.99%{opacity:1}46%{opacity:0}46.9%{opacity:0}46.91%{opacity:1}51.99%{opacity:1}52%{opacity:0}52.8%{opacity:0}52.81%{opacity:1}}
 .debuff_anim {
    animation-name: debuff_anim_1, debuff_anim_2;
    animation-duration: 104ms, 104ms;
    animation-timing-function: linear, ease-out;
    animation-delay: 0ms, 104ms;
    animation-iteration-count: 3, 3;
  }

  .buff_anim{
    animation-name: buff_anim_1, buff_anim_2;
    animation-duration: 104ms, 104ms;
    animation-timing-function: linear, ease-out;
    animation-delay: 0ms, 104ms;
    animation-iteration-count: 3, 3;
  }
  
  @keyframes debuff_anim_1 {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }
  
    to {
      background-color: rgba(32, 122, 232, 1);
    }
  }
  
  @keyframes debuff_anim_2 {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }
  
    to {
      background-color: rgba(184, 218, 255, 1);
    }
  }

  @keyframes buff_anim_1 {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }
  
    to {
      background-color: rgb(235, 53, 53);
    }
  }
  
  @keyframes buff_anim_2 {
    from {
      background-color: rgba(255, 255, 255, 0.5);
    }
  
    to {
      background-color: rgb(255, 199, 173);
    }
  }

@media screen and (max-width: 1000px) {
  .combat-log-container{
    font-size: 24pt;
  }
  .pokemon-select-menu>img{
    width: 75px;
  }
  .battle-status-container{
    width: 25vw;
  }
  .bgimg{
    width: 100vw;
    left: 0;
  }
}
